header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    .container
      a.navbar-brand[href="./"]
        |  TootGetter 
      button.navbar-toggler[type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"]
        span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.dropdown.active
            a#navbarDropdown.nav-link.dropdown-toggle[href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
              |  Menu 
            .dropdown-menu[aria-labelledby="navbarDropdown"]
              = link_to "Home", root_path, class: "dropdown-item"
              - if user_signed_in?
                = link_to "New Topic", new_topic_path, class: "dropdown-item"
                = link_to "Log Out", destroy_user_session_path, class: "dropdown-item", method: :delete
              - else
                = link_to 'Login For Mastodon', user_mastodon_omniauth_authorize_path, class: "dropdown-item"
              = link_to "Source Code", "https://github.com/S-H-GAMELINKS/TootGetter", class: "dropdown-item"